@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1f2937;

    --muted: #ffffff;
    --card: #e5e6e6;

    --primary: #1db954;
    --primary-foreground: #ffffff;
  }

  .dark {
    --background: #191e24;
    --foreground: #e7f7f6;

    --muted: #1d232a;
    --card: #15191e;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply mx-auto w-11/12 md:max-w-6xl;
  }

  /* Customizing the scrollbar track */
  .hide-scroll-bar::-webkit-scrollbar {
    background-color: transparent; /* Set the background color of the track */
  }
}
